<body class="{{ page.bodyclass}}">
<div id="wrapper" class="hfeed">
	<div id="header">
		<div id="masthead">
			<div id="access" role="navigation">
				<div id="global-nav">
					<div class="skip-link screen-reader-text"><a href="#content" title="Skip to content">Skip to content</a></div>
						<div id="site-title">
							<a href="/" title="International Underground">International Underground</a>
						</div>
						<div id="site-description">Uncovering and giving voice to those who often go unseen, and unheard.</div>
						<div class="menu">
							<ul>
								<li class="current_page_item"><a href="/">Home</a></li>
								<li class="page_item page-item-2"><a href="/about">About</a></li>
								<li class="page_item page-item-5"><a href="/legal">Legal</a></li>
								<li class="page_item page-item-6"><a href="/policy">Policy</a></li>
							</ul>
						</div>
				</div><!-- #global-nav -->
			</div><!-- #access -->
			{% include nav-feature.html %}
			<div id="branding" role="banner">
			<!--img src="" width="" height="" alt="" /-->
			<img src="/assets/logo.png" alt="International Underground"/>
			</div><!-- #branding -->
		</div><!-- #masthead -->
	</div><!-- #header -->
	<div id="main">