			<div id="nav-above" class="navigation">
				<div class="nav-previous">
				{% if page.previous %}
					<a href="{{ page.previous.url }}" rel="prev"><span class="meta-nav">←</span> {{ page.previous.title }}</a>
				{% endif %}
				</div>
				<div class="series-title">
				{% unless page.categories[0] == "News" %}
					Series: <a href="/series/{% series_title slug %}" rel="tag">{% series_title title %}</a>
				{% else %}
					<a href="/">International Underground</a>
				{% endunless %}
				</div>				
				<div class="nav-next">
				{% if page.next %}
					<a href="{{ page.next.url }}" rel="next"> {{ page.next.title }} <span class="meta-nav">→</span></a>
				{% endif %}
				</div>
			</div><!-- #nav-above -->