{% include head.html %}
{% include header.html %}
{% for series in site.series %}
  {% if site.featured_series == series.slug %}
  <div id="feature-container">
    <div id="series-title" class="nivo-html-caption">
      <h2><a href="{{ series.url}}">{{ series.title }}</a></h2>
    </div>
    <div id="content" role="main">
      <div id="index-main-container">
        <div id="index-series">
          <div id="index-photo" >
            {% for img in series.images %}<img width="740" class="attachment-slider-post-thumbnail wp-post-image" src="/assets/{{img}}" />{% endfor %}
          </div>
          <div class="index-tax-desc">
            <p>{{ series.content }}</p>
          </div>
        </div>
      </div>
      <div id="index-features">
        <h2>Also in this Series:</h2>
        <div class'hentry'>
          <ul class='entry-title-1'>
            <li>{%  related_post 1 %}</li>
          </ul>
        </div>
        <div class'hentry'>
          <ul class='entry-title-2'>
            <li>{% related_post 2 %}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
{% endfor %}
  {{ content }}
</div>

{% include footer.html %}