---
layout: default
---
<h1 class="page-title">{{ page.title }}</h1>
<section class="posts"><div class="archive-meta">{{ content }}</div>
{% for post in page.posts %}
<div class="post hentry">
	<h2 class="entry-title"><a href="{% post_url %}">{% post_title %}</a></h2>
	<div class="entry-meta">
		<span>Posted on <a href="{% post_url %}"><span class="entry-date">{% post_date %B %e, %Y %}</span></a> by {% post_author full_name %}</span>
	</div>
	<div class="entry-content">
		<p>{% post_excerpt %}</p>
	</div>
	<div class="entry-utility">
		{{page.collection | capitalize }}: <a href="{{ page.url }}">{{ page.title }}</a>
	</div>
</div>
{% endfor %}
{% include sidebar.html %}
</section>